<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
        <button type="button" name="sections">sections</button>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
        <button type="button" name="search">search</button>

			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <li>
        <button type="button" name="subscribe">Subscribe Now</button>
      </li>
      <li>
        <button type="button" name="log_in">Log In</button>
      </li>
      <li>
        <img src="/assets/eight_cog.png" alt="eight_cog" style="height:10px;width:10px"/> 
      </li>
    </ul>
  </nav>
</header>