<div class="link-container">
  <ul>
    <li>CSS </li>
    <li>HTML</li>
    <li>Javascript</li>
    <li>Ruby</li>
  </ul>
</div>

<div class="logo-container">
  <img src="/assets/AA_Times_Logo.png" alt="logo" style="height:10%;width:35%"/>
</div>

<div class="today-container">
  <ul>
    <li>Tuesday, October 18, 2016</li>
    <li><i class="fas fa-newspaper"></i></li>
    <li>Today’s Paper</li>
    <li> <i class="fas fa-video"></i> </li>
    <li>Video</li>
    <li>77°F</li>
    <li>AAO +100%</li>
  </ul>
  
</div>